
{% extends "base.html" %}

{% block content %}

<body style="background-image: url('../../../static/img/background.jpg'); background-size: 1800px 960px; color: gray;">

    {% if not user.is_authenticated%}
    <h1 class="display-1" >welcome to the park! newcomer!</h1>
        <h2>Signup or signin to continue</h2>
    {% else %}
    <h1 class="display-1" >welcome to the park! {{ user }}!</h1>
    <p class="display-6">today is {{ today }}</p>
     <div>
{#        insert links here for membership page and group page#}
        <a href="{% url 'memberships' %}" class="btn btn-primary">Membership</a>
        <a href="{% url 'groups' %}" class="btn btn-primary">Here with a group?</a>
    </div>


    {% endif %}





</body>

{% endblock %}
