{% extends "base.html" %}

{% block content %}

<body>

<h1>Ticket</h1>
<p>Starting at $60.00</p>
<p>Price above includes</p>
<p>Ticket: $50.00</p>
<p>Fee: $10.00</p>
<p>#No addtional fees for all attractions in the park.</p>
<p>#Discount will be calculated automatically.</p>
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <!-- <input type="submit" value="Create" /> -->
    <input type="date" id="start" name="visit date">
    <button type="submit"> Add Ticket </button>
</form>
{% include 'messages.html' %}

</body>

{% endblock %}