{% extends "base.html" %}
{% block content %}

<html>
<head>
    <style>
        .h1{
            padding-bottom: 80px;
            border-bottom: 50px;
            font-size: x-large;
            color:lightgrey;
        }
        .col{
            margin-top: auto;
            margin-bottom: auto;
            padding-top: 30px;
            padding-bottom: 50px;
        }
    </style>

    <h1>Take a look at our exciting attractions!</h1>
</head>

<body>

<div class="container">
<div class="row">
    {% for x in myAttractions %}
    <div class="col">

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src={{ x.att_link }} alt="Card image cap" style="width:100%;height:15vw;object-fit:cover;">
            <div class="card-body">
                <h5 class="card-title">{{ x.att_name }}</h5>
                <p class="card-text">{{ x.att_desrip }}</p>
                <p class="card-text">{{ x.att_type }}</p>
{#                <p class="card-text">Capacity: {{ x.att_capacity }}</p>#}
                <p class="card-text"> {{ x.att_duration }} minutes</p>
                <p class="card-text">Location: {{ x.att_locsec }}</p>
                 <p class="card-text">Height with {{ x.att_minhei }} CM or above required</p>

            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Status: {{ x.att_status }}</li>
            </ul>

        </div>
    </div>
    {% endfor %}
</div>
</div>


</body>

</html>



{% endblock %}