{% extends "base.html" %}

{% block content %}

    <body>

    <h1>Cart</h1>
    <form method="POST">
        {% csrf_token %}

        <ul>
            {#go through the cart#}
            {#membership#}

            {% if ifmem > 0 %}
                <h3>Membership</h3>
                <li style="list-style: none">Membership ID: {{ memnumber }} Price: $99</li>

                <button type="submit" class="btn btn-secondary btn-danger" name='delete-membership'>Delete</button>
                <br>

            {% endif %}

            {% if ticket_count  != 0 %}
                <h3>Tickets</h3>
                {% for x in mytickets %}
                    <li style="list-style: none">Purchase date: {{ x.tk_purdate }} Ticket price: ${{ x.tk_price }} Discount: {{ x.tk_discount}}</li>
                {% endfor %}
                <button type="submit" class="btn btn-secondary btn-danger" name='delete-tickets'>Delete</button>
                <br>
            {% endif %}

            {% if vsi_count  != 0 %}
                <h3>Shows</h3>
                {% for x in myvsi %}
                    <li style="list-style: none">{{ x.sh.sh_name }} quantity: {{ x.vsi_quant }}</li>
                {% endfor %}
                <li style="list-style: none">Total price for shows: ${{ show_price }}</li>
                <button type="submit" class="btn btn-secondary btn-danger" name='delete-shows'>Delete</button>
                <br>
            {% endif %}

            {% if order_count  != 0 %}
                <h3>Store orders</h3>
                {% for x in mystore %}
                    <li style="list-style: none">'{{ x.it.it_name }}' price: ${{ x.it.it_uprice }}</li>
                {% endfor %}
{#                <li style="list-style: none">Total price for store orders: ${{ store_price }}</li>#}
                <button type="submit" class="btn btn-secondary btn-danger" name='delete-stores'>Delete</button>
                <br>
            {% endif %}

            {#parking#}
            {% if parking_count  != 0 %}
                <h3>Parking</h3>
                {% for x in myparking %}
                    <li style="list-style: none">Reserved starting time: {{ x.pk_timein }} Ending
                        time:{{ x.pk_timeout }}
                        Amount: ${{ x.pk_fee }} </li>

                {% endfor %}
                <button type="submit" class="btn btn-secondary btn-danger" name='delete-parkings'>Delete</button>
                <br>
            {% endif %}


        </ul>
    </form>
    <a href="{% url 'pay' %}">
        <button type="button" class="btn btn-primary">Payment</button>
    </a>

    </body>

{% endblock %}