{% extends 'base.html' %}
{% block content %}
<style>
    #profile {
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .info-block {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 12px;
    }
    .info-title {
        font-size: 16px;
        color: gray;
    }
    .info-data {
        margin-top: 4px;
        font-size: 20px;
        color: #114050;
    }
</style>
    <h1> {{ curr.username }}'s Profile</h1>
    <div id='profile'>
        <div class='info-block'>
            <div class='info-title'></div>
            <div class='info-data'></div>
        </div>
        <div class='info-block'></div>
        <div class='info-block'>
            <div class='info-title'>First Name</div>
            <div class='info-data'>{{ curruser.v_fname }}</div>
        </div>
        <div class='info-block'>
            <div class='info-title'>Last Name</div>
            <div class='info-data'>{{ curruser.v_lname }}</div>
        </div>
        <div class='info-block'>
            <div class='info-title'>Email</div>
            <div class='info-data'>{{ curruser.v_email }}</div>
        </div>
        <div class='info-block'>
            <div class='info-title'>State</div>
            <div class='info-data'>{{ curruser.v_state }}</div>
        </div>
        <div class='info-block'>
            <div class='info-title'>Phone</div>
            <div class='info-data'>{{ curruser.v_phone }}</div>
        </div>
        <div class='info-block'>
            <div class='info-title'>Date of Birth</div>
            <div class='info-data'>{{ curruser.v_dob }}</div>
        </div>
        {% if curruser.v_type == 'M' %}
            <div class='info-block'>
                <div class='info-title'>Membership ID</div>
                <div class='info-data'>{{ member.mem_id }}</div>
            </div>
            <div class='info-block'>
                <div class='info-title'>Membership</div>
                <div class='info-data'>{{ member.mem_sdate }} - {{ member.mem_edate }}</div>
            </div>
        {% endif %}
    </div>
{% endblock %}